<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Protocolapp</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Bienvenidos a Protocolapp</h1>
    <h2>Sistema de Control para lugares de permanencia</h2>
    <div class="login-box">
        <form action="login">

            <input type="submit" value="Iniciar Sesion">
            
        </form>
    </div>
    <div>
        <form action="registrarse">

            <input type="submit" value="Registarse">
            
        </form>
    </div>
    <div>
        <form action="alertar">

            <input type="submit" value="Soy COVID POSITIVO">
            
        </form>
    </div>
</body>
</html>
