<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alertar</title>
</head>
<body>
    <h1>Ingrese los siguientes datos</h1>
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        {{form}}
        <label for="Teléfono">Teléfono</label>
        <input type="text" placeholder="Ingrese Teléfono">
        <label for="Fecha del test realizado">Fecha del test realizado</label>
        <input type="date" placeholder="Fecha del test realizado">
        <input type="submit" value="Continuar">
    </form>
</body>
</html>

